# Python Cache and checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/

# Data folders and files
data/
selenium/*.csv
selenium/*.xlsx
selenium/chromedriver
figs/
*.db
*.pickle

# Environment variables
.venv/
.env

# Mac files
.DS_Store

# Config files
.snakemake*
.vscode/

# Log files
gunicorn.log
*.log
log/
errors.txt
url_not_found.txt
nohup.out
.nvimlog

